{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
<!--
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
-->
    <h1>CalendarMirror</h1>
    <p>A Simple agent whose job it is to copy the events from one calendar (Any subscription based calendar) into another (Google Calendar) - To bridge the gap between a number of services that integrate with Google Calendar but do not connect to subscription based calendars.</p>
<!--
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-php"><span class="glyphicon glyphicon-flash"></span> Getting Started with PHP</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
-->
  </div>
</div>
<div class="container">
<!--
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Getting Started with PHP on Heroku</a> tutorial.
  </div>
  <hr>
-->
  <div class="row">
      <h3>Mirrored Calendars</h3>
      <ul>
      {% for mirror in mirrors %}
          <li> {{ mirror.name }} - {% if mirror.last_sync is empty %}Never Synchronized{% else %}Last Sync - {{ mirror.last_sync }}{% endif %} - <a href="/sync/{{ mirror.id }}">Sync Now</a></li>
      {% endfor %}
      </ul>
      {% if accounts|length > 0 %}
      <form method="post" action="/add/mirror">
          <table>
              <tr><th>Subscription URL</th><th>Calendar Name</th><th size="2">Google Account</th></tr>
              <tr><td><input name="subscription"></td>
              <td><input name="name"></td>
              <td><select name="account">
                {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.name }}</option>
                {% endfor %}
              </select></td>
              <td><input type="submit" value="Create"></td>
          </tr>
      </table></form>
      {% endif %}
  </div>
  <div class="row">
      <h3>Linked Google Accounts</h3>
      <ul>
      {% for account in accounts %}
          <li> {{ account.id }}. {{ account.name }} - <a href="/delete/credential/{{ account.id }}">Delete</a> </li>
      {% endfor %}
      </ul>
      <a href="connect">Connect Google Account</a>
<!--
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/php-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/php-getting-started/blob/master/composer.json">composer.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/php-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd php-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-php#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-php">Deploying PHP Apps on Heroku</a></li>
      </ul>
    </div>
-->
  </div> <!-- row -->
<!--
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
-->
</div>

{% endblock %}
